.room {
  background-color: rgb(142, 189, 123);
  width: 100%;
  min-height: 100vh;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; 
  flex-direction: row;

}

.room > div {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; 
  flex-direction: row;

  margin-bottom: 16px;
}

.room > div > video {
  width: 500px;
  height: 500px;

  margin: 4px;
}

.room > button {
  padding: 12px;

  background-color: orange;
  border: none;
  border-radius: 8px;
  font-size: 32px;
  transition: all 0.5s;
  cursor: pointer;

  margin-bottom: 16px;
}

.room > button:hover{
  background-color: darkorange;
}
